@import "variables";

.link {
    &- {
        &delete {
            border-bottom: 1px dashed $delete;
            color: $delete;
            line-height: 1.2;

            &:hover {
                border-bottom: 1px dashed $hover;
                color: $hover;
            }
        }
    }
}

.btn {
    &- {
        &delete {
            background-color: $secondary;
            color: $delete;

            &:hover {
                border: 1px solid $secondary;
                background-color: $primary;
                color: $secondary;
            }
        }
    }
}
